{# #}
{# This file is part of the Locod.io software. #}
{# #}
{# (c) Koen Caerels #}
{# #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{# #}

{% trans_default_domain 'auth' %}
{% extends 'base.html.twig' %}

{% block title %} locod.io | Account created.{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div>
        <div style="max-width: 500px;" class="mx-auto">
            <div class="bg-gray-50 mt-8 p-8 drop-shadow-xl">
                {# header ----------------------------------------------------------------------------------- #}
                <div class="text-center">
                    <div class="mb-2">
                        <img src="{{ asset('locodio.svg') }}" width="150" class="mx-auto">
                    </div>
                </div>
                <hr class="mt-4">

                {% for message in app.flashes('error') %}
                    <div class="mt-2 mb-2 bg-yellow-100 rounded-lg p-2 text-center text-sm">
                        {{ message | trans }}
                    </div>
                {% endfor %}

                <div class="mt-4 mb-4">
                    {% trans %}register_title_done{% endtrans %}
                </div>

                {% for message in app.flashes('warning') %}
                    <div class="mt-2 mb-2 bg-yellow-100 rounded-lg p-2 text-center text-sm">
                        {{ message| trans }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="mt-2 mb-2 bg-green-300 rounded-lg p-4 text-center text-sm">
                        <div>{{ message| trans | raw }}</div>
                    </div>
                {% endfor %}

                <div class="mt-8 text-gray-400 text-sm">
                    <a href="{{ path('app_login') }}" class="text-sm text-blue-800 underline">
                        Login here
                    </a>.
                </div>

            </div>
        </div>
    </div>

{% endblock %}