{# #}
{# This file is part of the Locod.io software. #}
{# #}
{# (c) Koen Caerels #}
{# #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{# #}

{% trans_default_domain 'auth' %}
{% extends 'base-dark.html.twig' %}

{% block title %} locod.io | Reset your password.{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('reset') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reset') }}
{% endblock %}

{% block body %}

    <div style="position: absolute; top:10%;left:0;right:0">
        <div style="max-width: 450px;" class="mx-auto">
            <div class="bg-white mt-8 p-8 drop-shadow-xl">
                {# header ----------------------------------------------------------------------------------- #}
                <div class="text-center">
                    <div class="mb-2">
                        <img src="{{ logo }}" width="100" class="mx-auto">
                    </div>
                </div>
                <hr class="mt-4">

                {% for message in app.flashes('error') %}
                    <div class="mt-2 mb-2 bg-yellow-100 rounded-lg p-2 text-center text-sm">
                        {{ message | trans }}
                    </div>
                {% endfor %}

                {% if canResetPassword == true %}

                    <div class="mt-2 mb-4">
                        {% trans %}reset_title{% endtrans %}
                    </div>

                    <form method="post" autocomplete="off" action="{{ path('app_reset_action',{signature:signature }) }}">

                        <input type="hidden" name="csrf_token" value="{{ csrf_token('reset_password') }}">
                        <input type="hidden" name="code" value="{{ code }}">

                        <div id="resetPasswordApp">
                            <div style="min-height: 100px" class="text-center">
                                <br><br>
                                <img src="{{ asset('assets/oval.svg') }}" class="mx-auto"/>
                            </div>
                        </div>

                        {% for message in app.flashes('warning') %}
                            <div class="mt-2 mb-2 bg-yellow-100 rounded-lg p-2 text-center text-sm">
                                {{ message| trans }}
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('success') %}
                            <div>
                                <div class="alert alert-success p-2" role="alert">
                                    <div class="message">{{ message| trans }}</div>
                                </div>
                            </div>
                        {% endfor %}

                    </form>

                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}